// bower:scss
// endbower

img {
  display: none;
}

html, body {
  width: 100%;
  height: 100%;
}

body{
  margin: 0;
  background-color: #000;
  background: linear-gradient(to bottom, #020107 0%,#0a0621 82%,#301c35 100%);
}

label {
  font-family: "Lucida Console", "Lucida Sans Typewriter", monaco, "Bitstream Vera Sans Mono", monospace;
  color: #fff;
  @media (max-width: 850px) {
    font-size: 0.8rem;
  }
  @media (max-width: 750px) {
    margin: 1rem 1.5rem;
  }
}

select#countries {
  @media (max-width: 750px) {
    width: 92%;
  }
  min-width: 275px;
  font-family: "Lucida Console", "Lucida Sans Typewriter", monaco, "Bitstream Vera Sans Mono", monospace;
  -webkit-appearance: button;
  -webkit-border-radius: 2px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
  -webkit-padding-end: 20px;
  -webkit-padding-start: 2px;
  -webkit-user-select: none;
  background-image: url(http://i62.tinypic.com/15xvbd5.png), -webkit-linear-gradient(#FAFAFA, #F4F4F4 40%, #E5E5E5);
  background-position: 97% center;
  background-repeat: no-repeat;
  border: 1px solid #AAA;
  color: #555;
  font-size: inherit;
  margin: 20px;
  overflow: hidden;
  padding: 5px 10px;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 300px;
}

.stars-container {
  display: flex;
  flex-flow: row wrap;
  width: 1000px;
  max-width: 1000px;
  margin: auto;

  @media (max-width: 1000px) {
    //zoom: 0.8;
    transform: scale(0.7, 0.7);
  }
  @media (max-width: 850px) {
    //zoom: 0.7;
    transform: scale(0.6, 0.6);
  }
  @media (max-width: 672px) {
    //zoom: 0.6;
    transform: scale(0.5, 0.5);
  }
  @media (max-width: 600px) {
    //zoom: 0.5;
    transform: scale(0.4, 0.4);
  }
  @media (max-width: 480px) {
    //zoom: 0.4;
    transform: scale(0.3, 0.3);
  }
  @media (max-width: 420px) {
    //zoom: 0.3;
    transform: scale(0.2, 0.2);
  }
}

.star-container {
  position: relative;
  height: 8px;
  width: 8px;
  margin: 17px 20px;
}

@keyframes star {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.7;
  }
  100% {
    opacity: 1;
  }
}
